<div id="quicknav">
	<select id="level1" data-level="1" class="quicknav-select">
		<option class="optionPlaceholder">{level1Placeholder}</option>
	</select>
	<select id="level2" data-level="2" class="quicknav-select">
		<option class="optionPlaceholder"><f:translate key="pleaseChoose" htmlEscape="false" /></option>
	</select>
	<select id="level3" data-level="3" class="quicknav-select">
		<option class="optionPlaceholder"><f:translate key="pleaseChoose" htmlEscape="false" /></option>
	</select>
</div>